<!DOCTYPE html>
<html>
<head>
  <title>RedditOnRails</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h2>Welcome to Reddit on Rails. Browse safely... maybe danger lurks</h2>
  <% if current_user %>
  <!-- if the user is logged in show a log out button -->
    <%= button_to "Log Out", sessions_url, method: :delete %>
  <% else %>
  <!-- else show a log in button -->
    <%= button_to "Log In", new_sessions_url, method: :get %>
  <% end %>
  <!-- regardless, show a sign up button -->
  <%= button_to "Sign Up (if you haven't)", new_user_url, method: :get %>
  <% flash[:errors].try(:each) do |error| %>
    <p style="color:red"><%= error %></p>
  <% end %>
<%= yield %>

</body>
</html>
